@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.desktop-nav-items {
    display: none;
}

.dsk {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-side-nav {
        .mbl-menu-icon {
            margin-left: 1em;
        }
        img {
            padding-inline: 0.5em;
            margin: 1em 0 1em 0;
        }
        .side-nav {
            padding: 0;
            margin: 0;
            z-index: 3;
            position: fixed;
            width: 70vw;
            height: 100vh;
            background-color: white;
            .side-nav-items {
                display: flex;
                flex-direction: column;
                img {
                    width: 1em;
                    margin: 1.5em 0 3em 1em;
                }
                a {
                    text-decoration: none;
                    font-size: 1.4em;
                    font-family: "Kumbh Sans", sans-serif;
                    color: black;
                    font-weight: 700;
                    margin: 1em 0 0 1em;
                }
            }
        }
    }
    .black {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 2;
    }

    .right-side-nav {
        .cart-item-count {
            background-color: hsl(26, 100%, 55%);
            font-size: 10px;
            font-weight: bold;
            border-radius: 10px;
            color: white;
            padding: 1px 8px;
            font-family: "Kumbh Sans", sans-serif;
            position: absolute;
            top: 6px;
            right: 55px;
        }
        display: flex;
        gap: 1em;
        img {
            width: 1.5em;
            height: 1.5em;
        }
        .avatar {
            border: 2px solid transparent;
            border-radius: 50%;
            margin-right: 1em;
        }
    }
}
.cart {
    position: fixed;
    z-index: 1;
    width: 90vw;
    height: 35vh;
    margin: 1em 0 0 5vw;
    background-color: white;
    border-radius: 1em;
    span {
        padding: 0;
        display: block;
        margin: 1em 0 0 1em;
        font-family: "Kumbh Sans", sans-serif;
        font-weight: 700;
    }
    .line-break {
        width: 100%;
        height: 1px;
        margin-top: 1em;
        background-color: gray;
    }
    .cart-items {
        padding: 1em;
        .cart-item {
            align-items: center;
            display: flex;
            flex-direction: row;
            .small-img {
                margin-left: 0;
                width: 80px;
                height: 80px;
            }
            .text {
                color: gray;
                display: flex;
                flex-direction: column;
                p {
                    margin-top: 0.5em;
                    margin-left: 1em;
                    b {
                        margin-left: 0.5em;
                        color: black;
                    }
                }
            }
            .clear-btn {
                cursor: pointer;
                margin-left: 5em;
                width: 20px;
                height: 20px;
            }
        }

        button {
            cursor: pointer;
            margin-top: 2em;
            width: 100%;
            height: 5em;
            color: white;
            background-color: hsl(26, 100%, 55%);
            border-radius: 1em;
            border: none;
            &:hover {
                background-color: hsl(26, 100%, 65%);
            }
        }
    }
}

.slider {
    position: relative;
    width: 100vw;
    height: 20em;
    background-size: cover;
    .arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        margin-inline: 0.7em;
        width: 2.5em;
        height: 2.5em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .right-arrow {
        right: 0;
    }
}

.main {
    display: flex;
    flex-direction: column;
    .info {
        padding-inline: 1em;
        padding-top: 1em;
        h3 {
            font-size: 0.8em;
            letter-spacing: 0.1em;

            color: hsl(26, 100%, 55%);
            font-family: "Kumbh Sans", sans-serif;
        }
        h1 {
            font-family: "Kumbh Sans", sans-serif;
            font-weight: 700;
            margin-top: 0.5em;
            font-size: 1.6em;
        }
        p {
            color: gray;
            margin-top: 0.5em;
            line-height: 1.3em;
            font-size: 1.1em;
        }
        .prices {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .discounted {
                .bold {
                    font-size: 1.5em;
                    font-family: "Kumbh Sans", sans-serif;
                    font-weight: bold;
                }
                .orange {
                    color: hsl(26, 100%, 55%);
                    font-family: "Kumbh Sans", sans-serif;
                    font-weight: bold;
                    margin-left: 1em;
                    background-color: hsl(25, 100%, 87%);
                    border-radius: 0.5em;
                    padding: 0.2em;
                }
            }
            .full-price {
                color: gray;
                text-decoration: line-through;
            }
        }
        .cta {
            padding-inline: 1em;
            .btns {
                margin-top: 1em;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                button {
                    background-color: white;
                    border: none;
                    color: hsl(26, 100%, 55%);
                    font-size: 2em;
                    font-family: "Kumbh Sans", sans-serif;
                    font-weight: bold;
                }
                span {
                    font-family: "Kumbh Sans", sans-serif;
                    font-weight: bold;
                    margin-top: 0.2em;
                }
            }
            .add-to-cart-cta {
                width: 100%;
                height: 4em;
                margin-top: 1.5em;
                color: white;
                background-color: hsl(26, 100%, 55%);
                border: none;
                border-radius: 1em;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Kumbh Sans", sans-serif;
                font-weight: bold;
                img {
                    width: 1.5em;
                    margin-right: 1em;
                    filter: invert(100%) sepia(0%) saturate(0%)
                        hue-rotate(310deg) brightness(10000%) contrast(103%);
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .mbl-menu-icon {
        display: none;
    }

    .desktop-nav-items {
        display: block;
    }

    .navbar {
        padding: 1em 6em;
        .left-side-nav {
            display: flex;
            align-items: center;
            img {
                margin-right: 2em;
            }
            .desktop-nav-items {
                display: flex;
                align-items: center;
                .dsk-item {
                    display: flex;
                    align-items: center;
                    height: 6em;
                    color: gray;
                    text-decoration: none;
                    font-family: "Kumbh Sans", sans-serif;
                    font-weight: 700;
                    margin-inline: 0.5em;
                    cursor: pointer;
                    border: 3px solid #fff;
                    &:hover {
                        border-bottom: 3px solid hsl(26, 100%, 55%);
                    }
                }
            }
        }
        .right-side-nav {
            display: flex;
            align-items: center;
            img {
                cursor: pointer;
            }
            .avatar {
                margin-left: 1em;
                width: 2.5em;
                height: 2.5em;
                &:hover {
                    border-color: hsl(26, 100%, 55%);
                }
            }
            .cart-item-count {
                top: 46px;
                right: 180px;
            }
        }
    }
    .cart {
        width: 30vw;
        margin-left: 60vw;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

        .empty-cart {
            height: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .main {
        flex-direction: row;
        width: 80vw;
        margin: 7em auto;
        .info {
            flex: 1;
            margin-left: 2em;
            h1 {
                font-size: 2.5em;
                font-weight: bold;
            }
            p {
                margin-top: 2em;
                margin-bottom: 2em;
            }
            .prices {
                flex-direction: column;
                align-items: flex-start;
                .discounted {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5em;
                }
            }
            .cta {
                display: flex;
                .btns {
                    flex: 1;
                    margin-right: 2em;
                    button:hover {
                        color: hsl(26, 100%, 65%);
                        cursor: pointer;
                    }
                }
                .add-to-cart-cta {
                    cursor: pointer;
                    flex: 2;
                    &:hover {
                        background-color: hsl(26, 100%, 65%);
                    }
                }
            }
        }
        .left-side-slider {
            flex-direction: column;
            flex-grow: 1;
            display: flex;
            flex: 1;
            .slider {
                border-radius: 1em;
                height: 400px;
                width: 450px;
                .arrow {
                    display: none;
                }
            }
            .thumbnail-container {
                display: flex;
                flex-direction: row;
                gap: 1em;
                img {
                    width: 100px;
                    margin-top: 2em;
                    border-radius: 1em;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .desktop-carousel {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        .carousel-exit {
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin: 0 0 1em 30em;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(310deg)
                brightness(10000%) contrast(103%);
            &:hover {
                filter: invert(63%) sepia(41%) saturate(4802%)
                    hue-rotate(347deg) brightness(101%) contrast(101%);
            }
        }

        .carousel {
            border-radius: 1em;
            overflow: visible;
            position: relative;
            background-size: contain;
            width: 500px;
            height: 500px;
            z-index: 5;
            .arrow {
                cursor: pointer;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 3em;
                height: 3em;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                &:hover > img {
                    filter: invert(63%) sepia(41%) saturate(4802%)
                        hue-rotate(347deg) brightness(101%) contrast(101%);
                }
            }
            .right-arrow {
                right: -1.5em;
            }
            .left-arrow {
                left: -1.5em;
            }
        }
        .carousel-thumbnail {
            display: flex;
            overflow: visible;
            flex-direction: row;
            gap: 1em;
            img {
                width: 100px;
                margin-top: 2em;
                border-radius: 1em;
                cursor: pointer;
                &:hover {
                    // ! ovo namestiti
                }
            }
        }
    }
}

/*
*/
