@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.desktop-nav-items {
  display: none;
}

.dsk {
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .left-side-nav .mbl-menu-icon {
  margin-left: 1em;
}

.navbar .left-side-nav img {
  padding-inline: 0.5em;
  margin: 1em 0 1em 0;
}

.navbar .left-side-nav .side-nav {
  padding: 0;
  margin: 0;
  z-index: 3;
  position: fixed;
  width: 70vw;
  height: 100vh;
  background-color: white;
}

.navbar .left-side-nav .side-nav .side-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar .left-side-nav .side-nav .side-nav-items img {
  width: 1em;
  margin: 1.5em 0 3em 1em;
}

.navbar .left-side-nav .side-nav .side-nav-items a {
  text-decoration: none;
  font-size: 1.4em;
  font-family: "Kumbh Sans", sans-serif;
  color: black;
  font-weight: 700;
  margin: 1em 0 0 1em;
}

.navbar .black {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
}

.navbar .right-side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.navbar .right-side-nav .cart-item-count {
  background-color: #ff7d1a;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  padding: 1px 8px;
  font-family: "Kumbh Sans", sans-serif;
  position: absolute;
  top: 6px;
  right: 55px;
}

.navbar .right-side-nav img {
  width: 1.5em;
  height: 1.5em;
}

.navbar .right-side-nav .avatar {
  border: 2px solid transparent;
  border-radius: 50%;
  margin-right: 1em;
}

.cart {
  position: fixed;
  z-index: 1;
  width: 90vw;
  height: 35vh;
  margin: 1em 0 0 5vw;
  background-color: white;
  border-radius: 1em;
}

.cart span {
  padding: 0;
  display: block;
  margin: 1em 0 0 1em;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.cart .line-break {
  width: 100%;
  height: 1px;
  margin-top: 1em;
  background-color: gray;
}

.cart .cart-items {
  padding: 1em;
}

.cart .cart-items .cart-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart .cart-items .cart-item .small-img {
  margin-left: 0;
  width: 80px;
  height: 80px;
}

.cart .cart-items .cart-item .text {
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart .cart-items .cart-item .text p {
  margin-top: 0.5em;
  margin-left: 1em;
}

.cart .cart-items .cart-item .text p b {
  margin-left: 0.5em;
  color: black;
}

.cart .cart-items .cart-item .clear-btn {
  cursor: pointer;
  margin-left: 5em;
  width: 20px;
  height: 20px;
}

.cart .cart-items button {
  cursor: pointer;
  margin-top: 2em;
  width: 100%;
  height: 5em;
  color: white;
  background-color: #ff7d1a;
  border-radius: 1em;
  border: none;
}

.cart .cart-items button:hover {
  background-color: #ff9a4d;
}

.slider {
  position: relative;
  width: 100vw;
  height: 20em;
  background-size: cover;
}

.slider .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-inline: 0.7em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.slider .right-arrow {
  right: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .info {
  padding-inline: 1em;
  padding-top: 1em;
}

.main .info h3 {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: #ff7d1a;
  font-family: "Kumbh Sans", sans-serif;
}

.main .info h1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  margin-top: 0.5em;
  font-size: 1.6em;
}

.main .info p {
  color: gray;
  margin-top: 0.5em;
  line-height: 1.3em;
  font-size: 1.1em;
}

.main .info .prices {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .info .prices .discounted .bold {
  font-size: 1.5em;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
}

.main .info .prices .discounted .orange {
  color: #ff7d1a;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  margin-left: 1em;
  background-color: #ffd8bd;
  border-radius: 0.5em;
  padding: 0.2em;
}

.main .info .prices .full-price {
  color: gray;
  text-decoration: line-through;
}

.main .info .cta {
  padding-inline: 1em;
}

.main .info .cta .btns {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main .info .cta .btns button {
  background-color: white;
  border: none;
  color: #ff7d1a;
  font-size: 2em;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
}

.main .info .cta .btns span {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  margin-top: 0.2em;
}

.main .info .cta .add-to-cart-cta {
  width: 100%;
  height: 4em;
  margin-top: 1.5em;
  color: white;
  background-color: #ff7d1a;
  border: none;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
}

.main .info .cta .add-to-cart-cta img {
  width: 1.5em;
  margin-right: 1em;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(310deg) brightness(10000%) contrast(103%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(310deg) brightness(10000%) contrast(103%);
}

@media screen and (min-width: 1024px) {
  .mbl-menu-icon {
    display: none;
  }
  .desktop-nav-items {
    display: block;
  }
  .navbar {
    padding: 1em 6em;
  }
  .navbar .left-side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .left-side-nav img {
    margin-right: 2em;
  }
  .navbar .left-side-nav .desktop-nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .left-side-nav .desktop-nav-items .dsk-item {
    color: gray;
    text-decoration: none;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    margin-inline: 0.5em;
    cursor: pointer;
  }
  .navbar .left-side-nav .desktop-nav-items .dsk-item:hover {
    color: black;
  }
  .navbar .right-side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .right-side-nav img {
    cursor: pointer;
  }
  .navbar .right-side-nav .avatar {
    margin-left: 1em;
    width: 2.5em;
    height: 2.5em;
  }
  .navbar .right-side-nav .avatar:hover {
    border-color: #ff7d1a;
  }
  .navbar .right-side-nav .cart-item-count {
    top: 22px;
    right: 180px;
  }
  .cart {
    width: 30vw;
    margin-left: 60vw;
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }
  .cart .empty-cart {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80vw;
    margin: 7em auto;
  }
  .main .info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 2em;
  }
  .main .info h1 {
    font-size: 2.5em;
    font-weight: bold;
  }
  .main .info p {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .main .info .prices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .info .prices .discounted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5em;
  }
  .main .info .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .info .cta .btns {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 2em;
  }
  .main .info .cta .btns button:hover {
    color: #ff9a4d;
    cursor: pointer;
  }
  .main .info .cta .add-to-cart-cta {
    cursor: pointer;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .main .info .cta .add-to-cart-cta:hover {
    background-color: #ff9a4d;
  }
  .main .left-side-slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
  }
  .main .left-side-slider .slider {
    border-radius: 1em;
    height: 400px;
    width: 450px;
  }
  .main .left-side-slider .slider .arrow {
    display: none;
  }
  .main .left-side-slider .thumbnail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1em;
  }
  .main .left-side-slider .thumbnail-container img {
    width: 100px;
    margin-top: 2em;
    border-radius: 1em;
    cursor: pointer;
  }
  .main .left-side-slider .thumbnail-container img:hover {
    opacity: 0.5;
  }
  .desktop-carousel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/*# sourceMappingURL=app.css.map */